.example{
  width: 335px;
  height: 260px;
  border-radius: 15px;
}
.example-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
  font-size: 17px;
  line-height: 175%;
  gap: 8.5px;
}
.example-card:hover{
  opacity: 1;

}
.example-card h2{
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 0;
}