@import 'variables.css';
@import 'common/index.css';
@import 'components/index.css';

body {
  font-family: Montserrat, sans-serif;
  color: var(--black);
}

p{
  font-weight: 400;
  font-size: 17px;
  line-height: 175%;
}

body * {
  transition: all .2s cubic-bezier(0, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-width {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}


