button {
  font-size: 15px;
  font-weight: 700;
  width: 270px;
  height: 60px;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: var(--green);
  cursor: pointer;
}

button:hover {
  border-color: var(--blue);
}

button:active {
  color: var(--blue);
}

.header__button {
  width: 170px;
  height: 37.78px;;
}

.header__button:hover {
  border-color: var(--white);
}

.header__button:active {
  color: var(--blue);
  background-color: var(--white);
}
