button {
  font-size: 15px;
  font-weight: 700;
  width: 335px;
  height: 60px;
  text-transform: uppercase;
  color: var(--white);
  line-height: 175%;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--green);
  cursor: pointer;
}

button:hover {
  border-color: var(--blue);
}

button:active {
  color: var(--blue);
}

.header__button {
  width: 170px;
  height: 37.78px;;
}

.header__button:hover {
  border-color: var(--white);
}

.header__button:active {
  color: var(--blue);
  background-color: var(--white);
}
@media screen and (min-width: 1024px){
  button{
    width: 270px;
    height: 60px;
    border-radius: 5px;
  }
}