.presentation-block {
}


.presentation-block h1 {
  margin-top: 53px;
}

.presentation-block p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .presentation-block p {
    width: 432px;
  }

  .presentation-block .cart{
    position: absolute;
    transform: rotate(-23deg);
    Width: 409px;
    Height: 399px;
    left: 60.77%;
    right: 21.72%;
    top: 18.46%;
    bottom: 86.47%;
  }

  .presentation-block .centered {
    display: grid;
    justify-content: normal;
  }
}
